{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Blog</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static "css/mdb.css" %}" rel="stylesheet">

</head>

<body class="fixed-sn homepage-v1">

<!-- Navigation -->
<header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark stylish-color-dark">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">My Personal Blog</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Search form -->
            <form class="form-inline">

                <div class="md-form my-0">
                    <form action="" method="get">
                        <label for="{{ form.query.id_for_label }}"></label>
                        {{ form.query}}
                    </form>
                </div>

            </form>

        </div>

        <!-- Collapsible content -->
    </nav>

    <!-- Navbar -->
</header>
<!-- Navigation -->

<!-- Main layout -->
<main>

    <div class="container-fluid">

        <!-- Magazine -->
        <div class="row mt-5">

            <!-- Main newsfeed -->
            <div class="col-xl-8 col-lg-8 col-md-12">

                <!-- Section: News -->
                <section>

                    <h5 class="dark-grey-text font-weight-bold">
                        {% if query %}
                            <strong>Search Results:</strong>
                        {% else %}
                            <strong>LATESTS NEWS</strong>
                        {% endif %}
                    </h5>

                    <hr>

                    <!-- Grid row -->
                    <div class="row">
                        {% if query %}
                            {% for result in results %}
                                <div class="col-md-12 mb-4">

                                    <!-- News card -->
                                    <div class="card  mb-3 text-center hoverable">

                                        <div class="card-body">

                                            <!-- Grid row -->
                                            <div class="row">

                                                <!-- Grid column -->
                                                <div class="col-md-5 mx-3 my-3">

                                                    <!-- Featured image -->
                                                    <div class="view overlay rgba-white-slight">

                                                        <img src="{{ result.image.url }}"
                                                             class="img-fluid rounded-bottom"
                                                             alt="Sample image for first version of blog listing">

                                                        <a>

                                                            <div class="mask"></div>

                                                        </a>

                                                    </div>

                                                </div>
                                                <!-- Grid column -->

                                                <!-- Grid column -->
                                                <div class="col-md-6 text-left ml-xl-3 ml-lg-0 ml-md-3 mt-3">

                                                    <h4 class="mb-4">

                                                        <strong>{{ result.title }}</strong>

                                                    </h4>

                                                    <p class="dark-grey-text">{{ result.body|truncatewords:30 }}</p>

                                                    <p>by

                                                        <a>

                                                            <strong>{{ result.author }}</strong>

                                                        </a>,{{ result.publish }}</p>

                                                    <a href="{{ result.get_absolute_url }}"
                                                       class="btn btn-indigo btn-sm">Read
                                                        more</a>

                                                </div>
                                                <!-- Grid column -->

                                            </div>
                                            <!-- Grid row -->

                                        </div>

                                    </div>
                                    <!-- News card -->

                                </div>
                            {% endfor %}
                        {% else %}
                            {% for post in posts %}
                                <div class="col-md-12 mb-4">

                                    <!-- News card -->
                                    <div class="card  mb-3 text-center hoverable">

                                        <div class="card-body">

                                            <!-- Grid row -->
                                            <div class="row">

                                                <!-- Grid column -->
                                                <div class="col-md-5 mx-3 my-3">

                                                    <!-- Featured image -->
                                                    <div class="view overlay rgba-white-slight">

                                                        <img src="{{ post.image.url }}"
                                                             class="img-fluid rounded-bottom"
                                                             alt="Sample image for first version of blog listing">

                                                        <a>

                                                            <div class="mask"></div>

                                                        </a>

                                                    </div>

                                                </div>
                                                <!-- Grid column -->

                                                <!-- Grid column -->
                                                <div class="col-md-6 text-left ml-xl-3 ml-lg-0 ml-md-3 mt-3">

                                                    <h4 class="mb-4">

                                                        <strong>{{ post.title }}</strong>

                                                    </h4>

                                                    <p class="dark-grey-text">{{ post.body|truncatewords:30 }}</p>

                                                    <p>by

                                                        <a>

                                                            <strong>{{ post.author }}</strong>

                                                        </a>,{{ post.publish }}</p>

                                                    <a href="{{ post.get_absolute_url }}" class="btn btn-indigo btn-sm">Read
                                                        more</a>

                                                </div>
                                                <!-- Grid column -->

                                            </div>
                                            <!-- Grid row -->

                                        </div>

                                    </div>
                                    <!-- News card -->

                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                    <!-- Grid row -->

                    <!-- Pagination dark -->
                    <nav>

                        <ul class="pagination pg-dark justify-content-center">
                            {% if posts.number > 1 %}
                                <!-- Arrow left -->
                                <li class="page-item">
                                    <a href="?page={{ posts.previous_page_number }}" class="page-link"
                                       aria-label="Previous">

                                        <span aria-hidden="true">&laquo;</span>

                                        <span class="sr-only">Previous</span>

                                    </a>
                                </li>
                            {% endif %}

                            {% if posts.has_previous %}
                                <li class="page-item ">

                                    <a href="?page={{ posts.previous_page_number }}"
                                       class="page-link">{{ posts.previous_page_number }}</a>

                                </li>
                            {% endif %}
                            <li class="page-item active">

                                <a class="page-link">{{ posts.number }}</a>

                            </li>
                            {% if posts.has_next %}
                                <li class="page-item ">

                                    <a href="?page={{ posts.next_page_number }} "
                                       class="page-link">{{ posts.next_page_number }}</a>

                                </li>
                            {% endif %}
                            <!-- Numbers -->
                            {% if posts.number < posts.paginator.num_pages %}
                                <!-- Arrow right -->
                                <li class="page-item">

                                    <a href="?page={{ posts.next_page_number }}" class="page-link" aria-label="Next">

                                        <span aria-hidden="true">&raquo;</span>

                                        <span class="sr-only">Next</span>

                                    </a>
                                </li>
                            {% endif %}
                        </ul>

                    </nav>
                    <!-- Pagination dark -->

                </section>
                <!-- Section: News -->

            </div>
            <!-- Main newsfeed -->

            <!-- Sidebar -->
            <div class="col-xl-4 col-lg-4 col-md-12 mt-0">

                <!-- Section: Categories -->
                <section class="section">

                    <h5 class="dark-grey-text font-weight-bold">

                        <strong>CATEGORIES</strong>

                    </h5>

                    <hr>

                    <ul class="list-group z-depth-1">
                        <li class="list-group-item d-flex justify-content-between align-items-center">

                            <a href="{% url 'blog_app:post_list' %}">All</a>

                            <span class="badge indigo badge-pill">{{ posts.index }}</span>

                        </li>
                        {% for category in categories %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">

                                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>

                                <span class="badge indigo badge-pill">{{ category.posts.count }}</span>

                            </li>
                        {% endfor %}
                    </ul>

                </section>

                <!-- Section: Categories -->
                <h5 class="dark-grey-text font-weight-bold mt-5">

                    <strong>TOP NEWS</strong>

                </h5>

                <hr>

                <!-- Section: News widget -->
                <section class="section widget-content mt-5">

                    <!-- Nav tabs -->
                    <ul class="nav md-tabs tabs-3 nav-justified widget-tabs mx-0 mdb-color lighten-3" role="tablist">

                        <li class="nav-item">

                            <a class="nav-link active" data-toggle="tab" href="#panel2" role="tab">RECENT</a>

                        </li>

                        <li class="nav-item">

                            <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">POPULAR</a>

                        </li>

                    </ul>

                    <!-- Tab panels -->
                    <div class="tab-content p-0 ml-2">

                        <!-- Panel 2 -->
                        <div class="tab-pane fade in show active" id="panel2" role="tabpanel">

                            <div class="single-post">

                                <!-- First row -->
                                <div class="row">
                                    {% for post in recent_posts %}
                                        <!-- Image -->
                                        <div class="col-4">

                                            <div class="view overlay rgba-white-slight z-depth-1">

                                                <img src="{{ post.image.url }}"
                                                     class="img-fluid" alt="sample image">

                                                <a>

                                                    <div class="mask waves-light"></div>

                                                </a>

                                            </div>

                                        </div>
                                        <!-- Image -->
                                        <!-- Excerpt -->
                                        <div class="col-8">

                                            <h6 class="mt-0 mb-3">

                                                <a href="{{ post.get_absolute_url }}">

                                                    <strong>{{ post.title }}</strong>

                                                </a>

                                            </h6>

                                            <div class="post-data">

                                                <p class="font-small grey-text mb-0">

                                                    <i class="far fa-clock-o"></i> {{ post.publish }}</p>

                                            </div>

                                        </div>
                                        <!-- Excerpt -->
                                    {% endfor %}

                                </div>
                                <!-- First row -->

                            </div>

                        </div>
                        <!-- Panel 2 -->

                        <!-- Panel 3 -->
                        <div class="tab-pane fade" id="panel3" role="tabpanel">

                            <div class="single-post">

                                <!-- First row -->
                                <div class="row">
                                    {% for post in popular_posts %}
                                        <!-- Image -->
                                        <div class="col-4">

                                            <div class="view overlay rgba-white-slight z-depth-1">

                                                <img src="{{ post.image.url }}"
                                                     class="img-fluid" alt="sample image">

                                                <a>

                                                    <div class="mask waves-light"></div>

                                                </a>

                                            </div>

                                        </div>
                                        <!-- Image -->
                                        <!-- Excerpt -->
                                        <div class="col-8">

                                            <h6 class="mt-0 mb-3">

                                                <a>

                                                    <strong>{{ post.title }}</strong>
                                                </a>

                                            </h6>

                                            <div class="post-data">

                                                <p class="font-small grey-text mb-0">

                                                    <i class="far fa-clock-o"></i> {{ post.publish }}</p>

                                            </div>

                                        </div>
                                        <!-- Excerpt -->
                                    {% endfor %}

                                </div>
                                <!-- First row -->

                            </div>

                        </div>
                        <!-- Panel 3 -->

                    </div>
                    <!-- Tab panels -->

                </section>
                <!-- Section: News widget -->

            </div>
            <!-- Sidebar -->

        </div>
        <!-- Magazine -->

    </div>

</main>
<!-- Main layout -->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{% static "js/jquery-3.4.1.min.js" %}"></script>
<!-- Tooltips -->
<script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static "js/mdb.min.js" %}"></script>

</body>

</html>
