{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap Template</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static "css/mdb.min.css" %}" rel="stylesheet">

</head>

<body class="postpage-v2">

<!-- Navigation -->
<header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark stylish-color-dark">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">My Personal Blog</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

    </nav>
    <!-- Navbar -->

</header>
<!-- Navigation -->

<!-- Main layout -->
<main>

    <div class="container">

        <!-- Post -->
        <div class="row my-5 py-5">

            <div class="col-12">

                <!-- Card -->
                <div class="card card-body mb-5 px-0 py-0">

                    <div class="post-data mb-4 ml-4 mt-4">

                        <p class="font-small dark-grey-text mb-1">

                            <strong>Author:</strong> {{ post.author }}</p>

                        <p class="font-small grey-text mb-0">

                            <i class="far fa-clock-o"></i> {{ post.publish }}</p>

                        <a>

                            <span class="badge indigo">{{ post.category.name }}</span>

                        </a>

                    </div>

                    <!-- Title -->
                    <h1 class="font-weight-bold mt-3 text-center">

                        <strong>{{ post.title }}</strong>

                    </h1>

                    <hr class="red title-hr">

                    <img src="{{ post.image.url }}"
                         class="img-fluid z-depth-1 mx-4 rounded"
                         alt="sample image">

                    <!-- Grid row -->
                    <div class="row px-4">

                        <!-- Grid column -->
                        <div class="col-md-6 mt-4">

                            <h5 class="font-weight-bold dark-grey-text">

                                <i class="far fa-lg fa-newspaper mr-3 dark-grey-text"></i>

                                <strong>100</strong> Views</h5>

                        </div>
                        <!-- Grid column -->


                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row mx-md-5 px-md-4 px-5 mt-3">

                        <p class="dark-grey-text article">{{ post.body }}</p>

                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <hr>

                    <!-- Grid row -->
                    <div class="row mb-4">

                        <!-- Grid column -->
                        <div class="col-md-12 text-center">

                            <h4 class="text-center font-weight-bold dark-grey-text mt-3 mb-3">
                                <a href="{% url 'blog_app:post_share' post.id %}"><strong>Share this post </strong></a>
                            </h4>

                        </div>
                        <!-- Grid column -->

                    </div>

                    <!-- Grid row -->
                    <div class="container-fluid px-5" style="background-color: #d7dadf">

                        <h5 class="font-weight-bold mt-5">

                            <strong>YOU MIGHT ALSO LIKE</strong>

                        </h5>

                        <hr class="pink accent-3 title-hr">

                        <!-- Grid row -->
                        <div class="row mb-4">
                            {% for recommended_post in recommended_posts %}
                                <!-- Grid column -->
                                <div class="col-lg-4 my-3">

                                    <!-- Card -->
                                    <div class="card">

                                        <!-- Card image -->
                                        <div class="view overlay rgba-white-slight">

                                            <img src="{{ recommended_post.image.url }}"
                                                 class="card-img-top" alt="">

                                            <a>

                                                <div class="mask"></div>

                                            </a>

                                        </div>
                                        <!-- Card image -->
                                        <!-- Card content -->
                                        <div class="card-body">

                                            <!-- Title -->
                                            <h4 class="card-title">

                                                <strong>{{ recommended_post.title }}</strong>

                                            </h4>

                                            <hr>

                                            <!-- Text -->
                                            <p class="card-text mb-3">
                                                {{ recommended_post.body|truncatewords:3 }}
                                            </p>

                                            <p class="font-small font-weight-bold dark-grey-text mb-1">

                                                <i class="far fa-clock-o"></i> {{ recommended_post.publish }}/p>

                                            <p class="font-small grey-text mb-0">{{ recommended_post.author }}</p>

                                            <p class="text-right mb-0 font-small font-weight-bold">

                                                <a href="{{ recommended_post.get_absolute_url }}">read more

                                                    <i class="fas fa-angle-right"></i>

                                                </a>

                                            </p>

                                        </div>
                                        <!-- Card content -->

                                    </div>
                                    <!-- Card -->

                                </div>
                                <!-- Grid column -->
                            {% endfor %}

                        </div>
                        <!-- Grid row -->

                    </div>

                </div>

                <!-- Card -->

                <!-- Comments -->

                <section>

                    <!-- Main wrapper -->
                    <div class="comments-list text-center text-md-left">

                        <div class="text-center my-5">

                            <h3 class="font-weight-bold">Comments

                                <span class="badge indigo">{{ comments.count }}</span>

                            </h3>
                        </div>
                        {% for comment in comments %}
                            <!-- First row -->
                            <div class="row mb-5">

                                <!-- Image column -->
                                <div class="col-sm-2 col-12 mb-3">

                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img (8).jpg"
                                         class="avatar rounded-circle z-depth-1-half" alt="sample image">

                                </div>
                                <!-- Image column -->

                                <!-- Content column -->
                                <div class="col-sm-10 col-12">

                                    <a>

                                        <h5 class="user-name font-weight-bold">{{ comment.name }}</h5>

                                    </a>

                                    <div class="card-data">

                                        <ul class="list-unstyled">

                                            <li class="comment-date font-small">

                                                <i class="far fa-clock-o"></i> {{ comment.time }}
                                            </li>

                                        </ul>

                                    </div>

                                    <p class="dark-grey-text article">{{ comment.message }}</p>

                                </div>
                                <!-- Content column -->

                            </div>
                            <!-- First row -->
                        {% endfor %}


                    </div>
                    <!-- Main wrapper -->

                </section>
                <!-- Comments -->

                <!-- Section: Leave a reply (Not Logged In User) -->
                <section class="mb-4 mt-4">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-lg-12">

                            <!-- Leave a reply form -->
                            <div class="reply-form">

                                <h3 class="text-center h3 pt-5">Leave a reply </h3>

                                <form action="" method="post">
                                    <div class="md-form">
                                        <i class="fas fa-user prefix grey-text"></i>
                                        <label for="{{ form.name.id_for_label }}">Your name</label>
                                        {{ form.name|add_style:"form-control" }}
                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-envelope prefix grey-text"></i>
                                        <label for="{{ form.email.id_for_label }}">Your Email</label>
                                        {{ form.email|add_style:"form-control" }}
                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-pencil-alt prefix grey-text"></i>
                                        <label for="{{ form.message.id_for_label }}">Your Message</label>
                                        {{ form.message|add_style:"md-textarea form-control" }}

                                    </div>
                                    {% csrf_token %}
                                    <div class="text-center mt-4">
                                        <input type="submit" value="submit" class="btn btn-indigo btn-rounded">
                                    </div>
                                </form>
                            </div>
                            <!-- Leave a reply form -->

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </section>
                <!-- Section: Leave a reply (Not Logged In User) -->

            </div>
            <!-- Post -->

        </div>
        <!-- Magazine -->

    </div>

</main>
<!-- Main layout -->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{% static "js/jquery-3.4.1.min.js" %}"></script>
<!-- Tooltips -->
<script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static "js/mdb.min.js" %}"></script>

</body>

</html>
