{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap Template</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static "css/mdb.min.css" %}" rel="stylesheet">

</head>

<body class="postpage-v2">

<!-- Navigation -->
<header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark stylish-color-dark">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">My Personal Blog</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

    </nav>
    <!-- Navbar -->

</header>
<!-- Navigation -->

<!-- Main layout -->
<main>

    <div class="container">
        {% if send %}
            <p class="alert-info">post is successfully send via email.</p>
        {% else %}
            <!-- Post -->
            <div class="row my-5 py-5">

                <div class="col-12">

                    <!-- Section: Leave a reply (Not Logged In User) -->
                    <section class="mb-4 mt-4">

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-lg-12">

                                <!-- Leave a reply form -->
                                <div class="reply-form">

                                    <h3 class="text-center h3 pt-5">Share Post </h3>

                                    <form action="" method="post">
                                        <div class="md-form">
                                            <i class="fas fa-user prefix grey-text"></i>
                                            <label for="{{ form.name.id_for_label }}">Your name</label>
                                            {{ form.name|add_style:"form-control" }}
                                        </div>

                                        <div class="md-form">
                                            <i class="fas fa-envelope prefix grey-text"></i>
                                            <label for="{{ form.email.id_for_label }}">Your Email</label>
                                            {{ form.email|add_style:"form-control" }}
                                        </div>
                                        <div class="md-form">
                                            <i class="fas fa-envelope prefix grey-text"></i>
                                            <label for="{{ form.contact_email.id_for_label }}">Your Contact
                                                Email</label>
                                            {{ form.contact_email|add_style:"form-control" }}
                                        </div>

                                        <div class="md-form">
                                            <i class="fas fa-pencil-alt prefix grey-text"></i>
                                            <label for="{{ form.message.id_for_label }}">Your Message</label>
                                            {{ form.message }}
                                        </div>
                                        {% csrf_token %}
                                        <div class="text-center mt-4">
                                            <input type="submit" value="submit" class="btn btn-indigo btn-rounded">
                                        </div>
                                    </form>
                                </div>
                                <!-- Leave a reply form -->

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                    </section>
                    <!-- Section: Leave a reply (Not Logged In User) -->

                </div>
                <!-- Post -->

            </div>
            <!-- Magazine -->
        {% endif %}
    </div>


</main>
<!-- Main layout -->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{% static "js/jquery-3.4.1.min.js" %}"></script>
<!-- Tooltips -->
<script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static "js/mdb.min.js" %}"></script>

</body>

</html>
